div.menu-item {
  display: flex;
  align-items: center;
}

.more-icon img {
  float: right;
  width: 1.5vw;
  height: 1.5vw;
}

.main-nav ul {
	margin: 1em 0 .5em;
	text-align: center;
}

.main-nav li {
	display: inline;
}

.main-nav a {
  padding: 0 0.5em;
  text-decoration: none;
  font-size: 1.5vw;
  line-height: 3.67;
  text-align: left;
  color: #63666c;
}
