
.email-wrapper {
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 2vw 0;
}

.input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid#595a5d;
    font-size: 2.2vw;
    width: 30vw;
    height: 3wv;
    font-family: SegoeUI;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: left;
    color: #595a5d;
    padding: 1vw 0;
    outline: none;
    box-sizing: border-box;
}

.input:focus {
    outline: none;
}

input::-webkit-input-placeholder {
    color: #595a5d;
}

input:focus::-webkit-input-placeholder {
    color: #0452fa;
}

.input:focus+.underline {
    transform: scale(1);
}

.underline {
    background-color: #0452fa;
    display: block;
    height: 2px;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    width: 30vw;
}

