
button[type="submit"] {
    margin-left: -3.3vw;
    margin-bottom: 1vw;
    position: relative;
    border: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 4px;
}

button[type="submit"] img {
    width: 3.7vw;
    height: 3.7vw;
}

button:hover {
    cursor: pointer;
    background-image: url(./left-arrow-blue.svg);
}
