.about-us {
  width: 75%;
  height: 85%;
  position: absolute;
  /* margin: 3%; */
  border-radius: 15px;
  /* border: 1px solid; */
  left: 50%;
  line-height: 2vw;
  font-weight: 500;
  top: 50%;
  font-size: 1.5vw;
  transform: translate(-50%, -50%);
  padding: 5%;
  padding-top: 2%;

  /* border-color: #8F909E; */
  /* width: 100%; */

}

span.color-highlight {
  color: #0452fa;
}

.back-nav-button {
  color: #63666c;
  font-size: 1.2vw;
  float: right;
  margin-top: 5%;
  border: none;
}

.back-nav-button:hover {
  cursor: pointer;
  text-decoration: underline;
  
}

.photo-container img{
  width: 50%;
  height: 50%;
  border: solid 2px #63666c;
}

.photo-container {
  text-align: center;
  padding: 4.5%;
}